@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.explore{
  background-color: #f1eee8;
  width: 80%;
}

.explore-header{
  box-sizing: border-box;
  font-family: 'Comfortaa', serif;
  font-size: 1.5vw;
  height: 10vh;
  padding: 2vh;
  padding-left: 1.5vw;
  padding-right: 3vw;
  border-bottom: 1px solid gray
  ;
  display: flex;
  align-items: center;
}

.channel-count{
  font-family: 'Comfortaa', serif;
  margin: 2%;
  margin-left: 3vw;
  color: gray

}

.explore-item-container{
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 0;
  height: 90vh;
}

.explore-item{
  font-family: 'Comfortaa', serif;
  font-size: 2vw;
  display: flex;
  border-top: 1px solid gray;
  padding: 2%;
}

.join-button{
  background-color: rgb(60, 139, 96);
  margin-left: 3vw;
  border: 1px solid white;;
  border-radius: 5px;
  width: 5vw;
  color: white;
  &:hover{
    cursor: pointer
  }
}



.explore-item:last-child{
  border-bottom: 1px solid gray;
}

