@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.messages-display{
  width: 80%;
  background-color: #f1eee8;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.messages-container{
  box-sizing: border-box;
  flex: 1;
  overflow-y: scroll;
  width: 80vw;
  margin: 0 auto;
  // margin-bottom: 2vh;
  // padding: 1vh 1vh;
  border-radius: 4px;
  scrollbar-color: rgb(159, 240, 243) white;
  scrollbar-width: thin;
  background-color: rgb(241, 238, 232);
  max-height: 80vh;
}

.message-input{
  width: 80vw;
  margin: 0 auto
}


.message-form input[type=text]{
  width: 100%;
  border:1px solid gray;
  border-radius: 3px;
}

.message-form{
  display: flex;
  margin: 1%;
  margin-top: 0;
  height: 8vh;
  
}


.message-current p,
.message p{
  color: rgb(40, 41, 95);
  
}

.message-current,
.message{
  font-family: 'Comfortaa', serif;
  position: relative
}

.message p{
  display: block
}

div::-webkit-scrollbar{
  width: 7px
}

.name-time{
  display: flex
}

.messages{
  margin-top:auto;
}

.messages div:last-child{
  margin-bottom: 1%;
}

.message{
  line-height: 3vh;
  margin-top: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
}

.message-current{
  text-align: right;
  line-height: 3vh;
  margin-top: 1vh;
  background-color: rgb(207, 226, 233);
  border-radius: 2px;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
}

.message-current a,
.message a{
  text-decoration: none;
}

.message-name{
  font-weight: bold;
  font-size: 3vh;
  letter-spacing: 2px;
  padding-right: 2vh
}

.message-time{
  font-weight: lighter;
}

.message-buttons{
  position: absolute;
  top: 0;
}

.message-buttons button{
  font-family: 'Comfortaa', serif;
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 1vh;
  margin: 1vh;
  box-shadow: rgba(62, 85, 148, 0.774) 0px 5px 15px;
}

.message-buttons button:hover{
  cursor:pointer;
  background-color:rgb(192, 238, 240) 
}

.message-form input[type=submit]{
  font-family: 'Comfortaa', serif;
  background-color: rgba(62, 85, 148, 0.774);
  border: none;
  border-radius: 2px;
  padding: 1vh;
  margin: 1vh;
  box-shadow: rgba(62, 85, 148, 0.774) 0px 5px 15px;
  color: rgb(40, 41, 95);
}

.message-form input[type=submit]:hover{
  background-color: rgb(192, 238, 240)
}


div::-webkit-scrollbar-thumb {
  background-color: rgb(159, 240, 243);    /* color of the scroll thumb */
  border-radius: 25px;       /* roundness of the scroll thumb */

}



