.thread-modal-container{
  height: 100vh;
  width: 100vw;
  background-color: rgba(36, 30, 30, 0.822);
  position: absolute;
}

.thread-modal{
  height: 40vh;
  width: 34vw;
  background-color: #f1eee8;
  position: fixed;
  margin-top: 30vh;
  margin-left: 33vw;
  border-radius: 25px;
  position: relative;
  padding: 1%;
}

.modal-header{
  text-align: center;
  font-family: 'Comfortaa', serif;
  color: rgb(44, 44, 83);
  font-size: 4vh;
  margin-top: 10vh;
}

.thread-close{
  position: absolute;
  left: auto;
  right: 5%;
  margin-top: 1vh;
  button{
    color:rgb(44, 44, 83);
    border-radius: 2px;
    border: 1px solid white;
    &:hover{
      cursor: pointer
    }

  }

}

.modal-select-users{
  padding: 1%;
}

.users-label{
  font-family: 'Comfortaa', serif;
  color: whitesmoke;
  margin: 2%;
}

.modal-select{
  width: 20vw;
  height: 4vh;
  display: block;
  margin-top: 2%;
}

.modal-select option{
  background-color: rgb(212, 221, 241);
  font-family: 'Comfortaa', serif;
  color: rgba(44, 44, 83, 0.753);
  font-size: 3vh;
}

.recipients-list{
  font-family: 'Comfortaa', serif;
  color: rgb(44, 44, 83);
  background-color: #f1eee8;
}

.recipients-list h2{
  height: 3vh;
  padding: 2%
}

.new-member-input{
  display: inline;
  border: none;
  color: rgb(44, 44, 83);
}

.new-member-input:focus{
  border: none;
  outline: none;
}

.recipients-list li{
  height: 2vh;
  padding-top: 2%;
  padding-left: 2%;
  display: inline;
}

.remove-new-member-button{
  width: 1vw;
}

.close-modal-button{
  width: 2vw;
  color: rgb(158, 158, 158)
  
}

.create-thread{
  margin-top: 2vh;
  text-align: center;
  position: relative
}

.create-thread input[type=text]{
  border-radius: 5px;
  height: 4vh;
  margin-bottom: 2%;
  font-family: 'Comfortaa', serif;

}

.create-thread input[type=submit]{
  margin: 2vh auto;
  display: block;
  border-radius: 5px;
  height: 6vh;
  width: 7vw;
  background-color: rgb(207, 226, 233);
  color: rgb(44, 44, 83);
  font-family: 'Comfortaa', serif;

}

.create-thread input[type=submit]:hover{
  color:white;
  cursor: pointer;
  background-color: rgb(44, 44, 83);
  font-size: 2vh;
}


.create-channel-button{
  color:white;
  font-size: 2vh;
  border-radius: 2px;
  padding: 1%;
  margin-right: 3vw;
  position: relative;
  text-align: center;
}

.create-channel-button a{
  text-decoration: none;
  color: white;
  &:hover{
    color:white;
    cursor:pointer;
  }
}

.create-channel-button:hover{
  cursor:pointer;
  color:white;
}

