@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.thread-modal-container{
  height: 100vh;
  width: 100vw;
  background-color: rgba(36, 30, 30, 0.822);
  position: absolute;
}

.thread-modal{
  height: 40vh;
  width: 34vw;
  background-color: #f1eee8;
  position: fixed;
  margin-top: 30vh;
  margin-left: 33vw;
  border-radius: 25px;
  position: relative;
  padding: 1%;
}

.modal-header{
  text-align: center;
  font-family: 'Comfortaa', serif;
  color: rgb(44, 44, 83);
  font-size: 4vh;
  margin-top: 8vh;
}

.thread-close{
  position: absolute;
  left: auto;
  right: 5%;
  margin-top: 1vh;
  button{
    color:rgb(44, 44, 83);
    border-radius: 2px;
    border: 1px solid white;
    &:hover{
      cursor: pointer
    }

  }

}

.modal-select-users{
  padding: 1%;
}

.users-label{
  font-family: 'Comfortaa', serif;
  color: rgb(44, 44, 83);
  margin: 2%;
  h3{
    font-size: 3vh;
  }
}

.channel-title-container{
  color:#708090;
  width: 100%;
  display: flex;
  h4{
    color: 	#708090;
    padding-top: 1vh;
  }
  a{
    margin-left: auto;
    &:hover{
      cursor: pointer;
    }
  }
  ul{
    border: 1px solid rgb(44, 44, 83);
  }
}

.new-channel-member-input{
  color: #2c2c53;
  display: inline;
  width: 10vw;
  height: 3.5vh;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.4vh;
  background-color: white;
  border: none;
  border-radius:5px;
  &:focus{
    outline: none;
    border: none;
  }

}

.modal-select{
  width: 20vw;
  height: 4vh;
  display: block;
  margin-top: 2%;
}

.modal-select option{
  background-color: rgb(212, 221, 241);
  font-family: 'Comfortaa', serif;
  color: rgba(44, 44, 83, 0.753);
  font-size: 3vh;
}

.channel-recipients-list{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Comfortaa', serif;
  color: rgb(44, 44, 83);
  background-color: white;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  min-height: 4vh;
  h2{
    height: 3vh;
    padding: 2%
  }
  li{
    align-items: center;
    font-size: 2.2vh;
    margin-right: .8vw;
  }
  &:focus-within{
    border: 1px solid rgb(44, 44, 83);
    box-shadow: 0 0 0 2px rgb(167, 88, 167)
  }
}

.suggested-users-list-channel{
  background-color: white;
  overflow-y: scroll;
  max-height: 15vh;
  width: 30vw;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  padding-bottom: .4%;
  padding-top: 1%;
  position: absolute;
  z-index: 5;
  li{
    margin-bottom: 1vh;
    font-family: 'Noto Sans', sans-serif;
  }
}


.new-member-input{
  display: inline;
  border: none;
  color: rgb(44, 44, 83);
}

.new-member-input:focus{
  border: none;
  outline: none;
}


.remove-new-member-button{
  width: 1vw;
}

.close-modal-button{
  width: 2vw;
  color: rgb(158, 158, 158);
  margin-left: auto;
  display:block
}

.create-thread{
  margin-top: 2vh;
  text-align: center;
  position: relative
}

.create-thread input[type=text]{
  border-radius: 5px;
  height: 4vh;
  margin-bottom: 2%;
  font-family: 'Comfortaa', serif;

}

.create-thread input[type=submit]{
  margin: 2vh auto;
  display: block;
  border-radius: 5px;
  height: 6vh;
  width: 7vw;
  background-color: rgb(207, 226, 233);
  color: rgb(44, 44, 83);
  font-family: 'Comfortaa', serif;

}

.create-thread input[type=submit]:hover{
  color:white;
  cursor: pointer;
  background-color: rgb(44, 44, 83);
  font-size: 2vh;
}


.create-channel{
  color:white;
  font-size: 2vh;
  border-radius: 2px;
  padding: 1%;
  margin-right: 3vw;
  position: relative;
  text-align: center;
}

.create-channel a{
  text-decoration: none;
  color: white;
  &:hover{
    color:white;
    cursor:pointer;
  }
}

// .create-channel:hover{
//   color:white;
// }

.skip-for-now,
.add-members-button{
  background-color: #f1eee8;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 1.8vh;
  font-weight: 500;
  color:rgb(44, 44, 83);
  position: absolute;
  left: 25vw;
  top: 35vh;
}

.add-members-button{
  width: 8vw;
  height: 4vh;
  &:hover{
    background-color: rgb(60, 139, 96);
    color:white;
  }
}

.skip-for-now{
  width: 8vw;
  height: 4vh;
  &:hover{
    background-color: #efc12a;
    color:rgb(44, 44, 83)
  }
}





