@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.search-client-container{
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column
}

.search-bar{
  height: 4vh;
  background-color: rgb(2, 2, 59);
  color: white;
  font-family: 'Comfortaa', serif;
  width: 100vw;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.search-bar-button{
  background-color: rgb(44, 44, 83);
  padding: 4px;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
  }
}

.client-search{
  overflow-y: scroll;
  position: absolute;
  z-index: 30;
  max-height: 35vh;
  width: 30vw;
  left: 35vw;
  right: 35vw;
  background-color: white;
  border-radius: 20px;
  top: 1vh;
  padding: 0 1vh 1vh 1vh;
  input{
    color:rgb(99, 99, 99);
    font-family: 'Comfortaa', serif;
    font-size: 2vh;
    border: none;
    &:focus-visible{
      outline: none
    }
    &::placeholder{
      color: rgb(99, 99, 99);

    }
  }
}

.search-wrapper{
  padding: 1vh 0;
  border-bottom: 1px solid rgb(200, 200, 200)
}

.match-header{
  color:rgb(200, 200, 200);
  padding-top: 1vh;
}

.no-search-results{
  color: rgb(200, 28, 28)
}

.thread-search-user{
  display: block;
  color: #636363;
  margin-left: 1vw;
  margin-top: 1vh;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.awaiting-result{
  color: #636363;
  text-align: center;
  margin-top: 1vh
}