@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.search-client-container{
  overflow-y: hidden;
  height: 100vh;
}

.search-bar{
  height: 4vh;
  background-color: rgb(2, 2, 59);
  color: white;
  font-family: 'Comfortaa', serif;
  width: 100vw;
  border-bottom: 1px solid rgb(200, 200, 200)
  
}