@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.sign-form-container{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: image-url('city-background.jpg') bottom;
  background-size: contain;
}

.sign-form{
  background-color: #f1eee8;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
}

.sleuth-form{
  background-color: rgba(40, 41, 95, 0.856);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;

}


.sign-form{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 5%;
  margin: 2%;
  p{
    margin-top: 3vh;
    text-align: center;
    font-family: 'Comfortaa', serif;
    color: rgb(40, 41, 95);
  }
}

.sleuth-form{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
}

.sign-form input[type=text], input[type=password]{
  border: none;
  height: 4vh;
  width: 100%;
  margin-top: 2vh;
  padding: 1%;
}

.sign-form input[type=submit]{
  background-color: rgba(40, 41, 95, 0.856);
  color: white;
  font-family: 'Comfortaa', serif;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  border: 2px solid white;
}


.sleuth-form button{
  background-color: #f1eee8;
  color: rgb(40, 41, 95);
  font-family: 'Comfortaa', serif;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  border: 2px solid white;
}

.sign-form input[type=submit]:hover, 
.sleuth-form button:hover{
  cursor: pointer
}

.sleuth-form h3{
  margin-top: 3vh;
  text-align: center;
  font-family: 'Comfortaa', serif;
  color: white;
}

.session-errors{
  text-align: center;
  margin-top:1vh;
  height: 2vh;
  font-family: 'Comfortaa', serif;
  color: rgb(211, 32, 32);
  list-style-type: disc;
  list-style-position: inside

}

// {
//   padding: 5%
// }
