@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');


*{
  scroll-behavior: smooth;
}
.splash-header-list, .splash-footer-list{
  display: flex;
  align-items: center;
  font-family: 'Comfortaa', cursive;
}

.splash-header-list{
  width: 100%;
  position: fixed;
  height: 6vh
}

.splash-header-list, #splash-main-container{
  background-color: wheat;
}

.splash-header-list li:first-child{
  padding-left: 4vw;
  padding-right: 2vw
}

.splash-header-list li:nth-child(2),
.splash-header-list li:nth-child(3),
.splash-header-list li:nth-child(4)
{
  padding-left: 2vw;
}

.splash-header-list li:nth-child(5){
  margin-left: auto;
  padding-right: 3vw
}

.splash-header-list li:last-child{
  padding-right: 3vw
}

.splash-footer-list{
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: slateblue;
  justify-content: space-around;
  
}

//main container styling

#splash-main-container{
  
  display: flex
  
}

.splash-intro-right,
.splash-intro-left{
  width: 50vw;
}

.splash-intro-left{

  height: 50vh
}


.splash-intro-left h1{
  font-family: 'Playfair Display', serif;
  font-size: 6vh;
  margin-left: 6vw;
  margin-top: 12vh;
}

.splash-intro-left h2{
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  margin-left: 6vw;
  margin-top: 2vh;
  margin-right: 4vw;
}




.splash-spy{
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: 1px solid black;
  border-radius: 25px;
  height: 50vh;
  background: image-url('spy_3.jpg') no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size:cover;
}

//introduction styling

.introduction-container h1{
  font-size: 40px;
}