@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


*{
  scroll-behavior: smooth;
}

.splash-header-list, .splash-footer-list{
  display: flex;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-size: 3vh;
  font-weight: bold;
  width: 100%;

}

.splash-page{
  overflow-x: hidden;
}


.splash-header-list{
  
  position: fixed;
  height: 10vh
}

.splash-header-list li a,
.splash-header-list li span{
  cursor: pointer;
  text-decoration: none;
  color: rgb(40, 27, 128)
}

.splash-header-list, #main{
  background-color: rgb(241, 238, 232);
}

#spy-icon{
  padding-left: 6vw;
}

#sleuth-item{
  display: block;
  padding-left: 2vw;
}

#spy-icon:hover + li > a{
  color: rgba(178, 34, 34, 0.658);
  text-decoration: underline;
  font-weight: bold;

}

.active-link,
.splash-header-list li span:hover,
.splash-header-list li a:hover{
  text-decoration: underline;
  font-weight: bold;
}

#app-link{
  color: firebrick
}


#selected{
  color: firebrick;
  text-decoration: underline
}

.splash-header-list li:nth-child(3),
.splash-header-list li:nth-child(4),
.splash-header-list li:nth-child(5)
{
  padding-left: 2vw;
}

.splash-header-list li:nth-child(6){
  margin-left: auto;
  padding-right: 3vw
}

.splash-header-list li:last-child{
  padding-right: 3vw
}

.splash-footer-list{
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: #F1EEE8;
  justify-content: space-around;
  li a{
    color: #281b80;
    text-decoration: none;
    &:hover{
      text-decoration: underline
    };
  }
}

//main container styling

#main{
  
  display: flex;
  overflow-x: hidden;
  
}

.main-right,
.main-left{
  width: 50vw;
}

.main-left{

  height: 50vh
}


.main-left h1{
  font-family: 'Playfair Display', serif;
  font-size: 6vh;
  margin-left: 6vw;
  margin-top: 16vh;
  margin-bottom: 8vh;
}

.main-left h2{
  font-family: 'Playfair Display', serif;
  font-size: 4vh;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-right: 5vw;
  line-height: 6vh;
  background-color: whitesmoke;
  padding: 1vh;
  border-radius: 10px;
  color: slateblue
}


.splash-spy{
  margin-right: 10vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  border: 1px solid black;
  border-radius: 25px;
  height: 50vh;
  background: image-url('spy_3.jpg') no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size:cover;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.35) 0px 15px 12px;
}

//introduction styling

#intro{
  background-color: rgb(40, 41, 95);
  padding: 8vh;
  padding-right: 40vh;
  padding-left: 40vh;
  text-align: center;
}

#intro h2{
  font-size: 5vh;
  font-family: 'Comfortaa', serif;
  color:whitesmoke;
  line-height: 8vh;
  margin-top: 3vh;
  margin-bottom: 3vh;

}

//technologies
#technologies{
  font-size: 4vh;
  font-family: 'Comfortaa', serif;
  padding: 5vw
}

#technologies h2{
  text-align: center;
}

.technologies-container{
  display: flex;
  border: 10px solid wheat;
  width: 50vw;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
}



.technologies-list li{
  line-height: 8vh;
  padding: 2vh;
  border-radius: 10px;
  // background-color: green
  
}

.technology-list li a{
  // display: block;
  width: 100%;
  height: 100%;
}

.technologies-list li:hover{
  cursor: pointer;
}

.unselected-tech{
  background-color: slateblue;
  border: 4px solid whitesmoke;
  border-left:none;
  border-right: none;
  color: whitesmoke;
 
}


.selected-tech{
  background-color: whitesmoke;
  font-weight: bold;
  color: slateblue;
  border: 2px solid slateblue
}

.selected-technology{
  width: 30vw;
  // border-radius: 20px;
  // border-left: 2px solid slateblue
}


.technology-element{
  text-decoration: none;
}

//animations

.blink-me {
  animation: blinker 1s linear infinite;
}

// @keyframes blinker {  
//   50% { opacity: 0; }
// }

// @keyframes blinker {
//   0% {
//     // background-color: #2ba805;
//     box-shadow: 0 0 5px #2ba805;
//   }
//   50% {
//     // background-color: #49e819;
//     box-shadow: 0 0 20px #49e819;
//   }
//   100% {
//     // background-color: #2ba805;
//     box-shadow: 0 0 5px #2ba805;
//   }
// }

//responsive design


@media (max-width: 1024px){
  .main-left h2{
    font-size: 3vh;
    line-height: 5vh
  }

  #intro{
    padding-right: 20vh;
    padding-left: 20vh;
  }

  .technologies-container{
    width: 66vw
  }

  .splash-spy{
    margin-right: 3vw;
    margin-left: 3vw
  }

  .splash-header-list li{
    font-size: 2vw;
  }

}

@media (max-width: 851px){

  .main-left h1{
    margin-bottom: 4vh;
  }

}

@media screen and (max-width: 768px){
  .splash-header-list-mobile{
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 3vh;
    font-weight: bold;
    width: 100%;
    position: fixed;
    height: 10vh;
    justify-content: space-evenly;
    background-color: rgb(241, 238, 232);
  }

  .splash-header-list-mobile li,
  .splash-header-list-mobile li a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(40, 27, 128);
    font-size: 3vw;
    
  }

  .mobile-nav-menu-active,
  .mobile-nav-menu{
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: fixed;
    top: -100%;
    transition: 850ms;
    background-color: rgb(241, 238, 232);
    
  }

  
  .mobile-nav-menu-active li{
    padding: 10vh;
  }

  .mobile-nav-menu li{
    padding: 10vh;
  }

  .mobile-nav-menu-active{
    top: 0;
    transition: 350ms;
  }
}

