// .splash-page{
//   display: flex
// }

.splash-header-list, .splash-footer-list{
  display: flex;
  align-items: center;
}

.splash-header-list{
  height: 6vh
}

.splash-header-list, .splash-main-container{
  background-color: wheat;
}

.splash-header-list li:first-child{
  padding-left: 5vw;
}

.splash-header-list li:nth-child(2){
  margin-left: auto;
  padding-right: 3vw
}

.splash-header-list li:last-child{
  padding-right: 3vw
}

.splash-footer-list{
  height: 8vh;
  background-color: slateblue;
  justify-content: space-around;
  
}