@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.thread-index{
  width: 20%;
  padding: 3% 0% 3% 1.5%;
  background-color: rgb(2, 2, 59);
  font-family: 'Comfortaa', serif;
  position: relative;
  
}

.thread-index li a{
  color: white;
  text-decoration: none;
  display: block;
}

.thread-index li a{
  padding: 1vh;
}

.thread-index li{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.thread-index li:hover{
  background-color: rgb(44, 44, 83);
  border-radius: 5px;
  box-shadow: rgba(150, 151, 216, 0.3) 0px 1vh 1vh, rgba(160, 148, 231, 0.22) 0px 1vh 1vh;
}

.thread-header{
  color: white;
}


.channel-index{
  position:relative;
}

.channel-button-container{
  position:relative
}

.channel-buttons{
  position:absolute;
  background-color: #f1eee8;
  padding: 5%;
  top: 50px;
  width: 100%;
  border-radius: 5px;

  a{
    display: block;
    padding: 1%;
  }

}


.create-channel-button{
  color: rgb(44, 44, 83);
  font-size: 3vh;
  background-color: rgb(207, 226, 233);
  border-radius: 2px;
  padding: 2%;
  margin-right: 3vw;
  
}

.create-channel-button:hover{
  cursor:pointer;
  color:white;
}

.little-triangle{
  content: "";
  height: 0;
  width: 0;
  border: 10px solid;
  border-color:transparent;
  border-bottom-color: #f1eee8;
}

.active-thread{
  background-color: rgb(44, 44, 83)
}

.thread-title{
  box-sizing:border-box;
  padding: 2vh;
  padding-left: 2vh;
  background-color: #f1eee8;
  height: 10vh;
  font-family: 'Comfortaa', serif;
  font-size: 1.5vw;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;

}

.thread-display{
  height: 100vh;
  background-color: #f1eee8;
  display: flex;
  flex-direction: column;
}


