@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.thread-index{
  width: 20%;
  padding: 3% 0% 3% 1.5%;
  background-color: rgb(2, 2, 59);
  font-family: 'Comfortaa', serif;
  position: relative;
  
}

.thread-index li a{
  color: white;
  text-decoration: none;
  display: block;
}

.thread-index li a{
  padding: 1vh;
}

.thread-index li{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.thread-header:hover,
.thread-index li:hover{
  background-color: rgb(44, 44, 83);
  border-radius: 5px;
  box-shadow: rgba(150, 151, 216, 0.3) 0px 1vh 1vh, rgba(160, 148, 231, 0.22) 0px 1vh 1vh;
}

.thread-header{
  margin-left: 1vh;
  color: white;
  height: 5vh;
  display:flex;
  align-items: center;
}

.header-caret-container{
  display: flex;
  h3{
    flex: 1
  }
}

.caret{
  color: white;
  font-size: 3vh;
  border-radius: 1px;
  padding-left:1%;
  padding-right:1%;
}

.caret:hover{
  background-color:rgb(44, 44, 83)
}

.close-caret{
  transform: rotate(270deg);
}


.channel-index{
  position:relative;

}

.channel-buttons{
  position:absolute;
  background-color: #f1eee8;
  padding: 5%;
  top: 5vh;
  left:2vw;
  width: 70%;
  border-radius: 5px;

  a{
    display: block;
    padding: 1%;
    color:rgb(2, 2, 59);
    &:hover{
      text-decoration: underline;
      color: rgb(2, 2, 59)
    }
  }

}


.create-channel-button:hover{
  cursor:pointer;

}

.little-triangle{
  content: "";
  left: 45%;
  border: 20px solid;
  border-color:transparent;
  border-bottom-color: #f1eee8;
  position: absolute;
}

.active-thread{
  background-color: rgb(44, 44, 83)
}

.thread-title{
  box-sizing:border-box;
  padding: 2vh;
  padding-left: 2vh;
  background-color: #f1eee8;
  height: 10vh;
  font-family: 'Comfortaa', serif;
  font-size: 1.5vw;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;

}

.thread-display{
  height: 100vh;
  background-color: #f1eee8;
  display: flex;
  flex-direction: column;
}


